<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Hub</title>
</head>
<body>
    <div id="root"></div>
    {% if use_vite %}
        <script type="module" src="http://127.0.0.1:5173/src/main.jsx"></script>
    {% else %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'frontend/assets/index.css' %}">
        <script type="module" src="{% static 'frontend/assets/index.js' %}"></script>
    {% endif %}
</body>
</html>
